<h1>Home</h1>

<div align="center" vertical-align="middle">
    欢迎使用课程管理系统
    <form action="/signin" method="post">
        <p>账号： <input name="username"></p>
        <p>密码： <input name="password" type="password"></p>
        <p><button type="submit">登录</button></p>
    </form>

    <form action="/register" method="get">
        <p><button type="submit">没有账号？ 去注册</button></p>
    </form>
</div>

<style>
    div {

        width: 400px;

        height: 400px;

        margin: 0 auto;

    }
</style>